---
import Layout from "../layouts/Layout.astro"
import { AppointmenForm } from "../components/AppointmentForm"
---

<Layout title="Login">
  <div class="flex w-full max-w-screen-sm h-screen items-center justify-center">
    <AppointmenForm />
  </div>
</Layout>