---
import Layout from "../layouts/Layout.astro"
import { LoginForm } from "../components/LoginForm.tsx"
---

<Layout title="Login">
  <div class="flex w-full max-w-screen-sm h-screen items-center justify-center">
    <LoginForm />
  </div>
</Layout>