---
import Layout from "../layouts/Layout.astro";
import { Appointments } from "../components/Appointments";

---

<Layout title="Citas">
  <div class="flex flex-row justify-center">
    <h1 class="text-4xl text-white mt-10 mb-4 text-center">Citas</hjson1>
    <Appointments client:only/>
  </div>
</Layout>