---
import { Session } from '../components/Session.tsx'

interface NavigationLink {
	title: string;
	iconName: string;
	href: string;
}

const navigationLinks: NavigationLink[] = [
	{
		title: 'Inicio',
		iconName: 'home',
		href: '/'
	},
	{
		title: 'Autos',
		iconName: 'car_tag',
		href: '/cars'
	},
	{
		title: 'Citas',
		iconName: 'edit_calendar',
		href: '/appointment'
	},
]
---

<header class="sticky shrink-0 grid grid-cols-3 w-full h-24 items-center bg-neutral-900 border-b-[1px] border-neutral-600/30">
  <figure class="flex justify-center items-center">
   <h1>
      <a href="/" class="inline-flex text-2xl font-medium">
        <span>Car</span>
        <span class="text-logan-300">Link</span>
      </a>
   </h1>
  </figure>
  <nav class="flex-grow h-full flex justify-center items-center py-2 font-medium text-lg">
    <ul class="flex h-full gap-x-4 justify-center">
     {navigationLinks.map(({href, title, iconName}) => (
       <li class="h-full aspect-square w-auto items-center justify-center rounded-lg hover:bg-logan-400/80 transition-colors duration-200">
         <a href={href} class="flex w-full h-full flex-col items-center justify-center">
          <h2>{title}</h2>
             <span class="material-symbols-outlined text-3xl">
               {iconName}
             </span>
         </a>
       </li>
       ))}
    </ul>
  </nav>
  <Session client:load></Session>
</header>