---
import { Button } from '../components/Button.tsx'

interface NavigationLink {
	title: string;
	iconName: string;
	href: string;
}

const navigationLinks: NavigationLink[] = [
	{
		title: 'Inicio',
		iconName: 'home',
		href: '/'
	},
	{
		title: 'Autos',
		iconName: 'car_tag',
		href: '/autos'
	},
	{
		title: 'Citas',
		iconName: 'edit_calendar',
		href: '/citas'
	},
]
---

<header class="flex w-full h-24 justify-around items-center">
  <figure>
   <h1 class="inline-flex text-2xl">
     <span>Car</span>
     <span class="text-logan-300">Link</span>
   </h1>
  </figure>
  <nav class="flex h-full w-fit items-center py-3 font-medium text-lg">
    <ul class="flex h-full w-full gap-x-1">
     {navigationLinks.map(({href, title, iconName}) => (
       <li class="flex h-full aspect-square w-auto items-center justify-center rounded-lg hover:bg-logan-400/80 transition-colors duration-200">
         <a href={href} class="flex-grow">
           <div class="flex w-full h-full flex-col items-center gap-y-2">
             <h2>{title}</h2>
             <span class="material-symbols-outlined">
               {iconName}
             </span>
           </div>
         </a>
       </li>
       ))}
    </ul>
  </nav>
  <div class="flex gap-x-2">
    <Button text='Registrarse'></Button>
    <Button text='Iniciar Sesión'></Button>
  </div>
 </header>